* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 4rem 2rem;
}

header {
	text-align: center;
	margin-bottom: 4rem;
}

header h1 {
	margin-bottom: 0.2rem;
	font-weight: bolder;
}

header p {
	color: #222;
}

.obama-pic {
	max-width: 10rem;
	border-radius: 50%;
	border: 6px solid #222;
}

input[value="Start Quizz"] {
	display: block;
	margin: 0 auto;
	padding: 1rem 1.6rem;
	border: none;
}

input:hover {
	background: #333;
	color: #fff;
}

input[type="submit"] {
	display: inline-block;
	margin: 1rem 0;
	padding: 1rem 1.6rem;
	border: none;
}

.line-element {
	list-style-type: none;
	margin: 1rem 0;
}

input[type="radio"] {
	margin: 0 1rem;
}

input#reset-btn {
	float: right;
}

.results {
	color: #222;
	font-size: 1.6rem;
	font-weight: bolder;
}
















